allow qti_init_shell block_device:blk_file { open read };
allow qti_init_shell bluetooth_loader_exec:file { open read };
allow qti_init_shell radio_prop:property_service set;
